.container {
    width: 400px;
    position: relative;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid gray;
    padding: 10px 12px;
    border-radius: 8px;
    justify-content: space-between;
    overflow: hidden;

}

.list-option {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    border: 1px solid gray;
    border-radius: 4px;
    height: 320px;
    overflow-x: auto;
    padding: 8px 8px;
    margin: 0;
    background-color: white;
    z-index: 100;
}

input {
    border: none;
    width: 80%;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.item-option {
    display: flex;
    padding: 6px 4px;
    align-items: center;
    flex-wrap: wrap;
    white-space: pre-wrap;
}

.item-option:hover {
    background-color: #d2def280;
}

.icon:hover {
    background-color: rgba(207, 202, 202, 0.54);
    border-radius: 100px;
}

.icon {
    color: rgba(81, 78, 78, 0.54);
    width: 20px;
    height: 20px;
}

.active {
    font-weight: bold;
    color: black;
}


.item-option-hide {
    display: none;
}