:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-name {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px 12px;
  width: 200px;
}

button {
  width: 120px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #2ea44f;
  background-color: #2ea44f;
  color: white;
  font-weight: 600;
  margin-left: 12px;
}

.messages {
  display: flex;
  gap: 24px;
  margin: 24px;
}